@import "variables";

#contacts {
  padding: 20px 0;


  #contact-search {
    .form-control {
      height: 45px;
      background: none;
      border: none;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }


    .input-group-text {
      background: none;
      border: none;
      padding-right: 0;
    }
  }

  .add-avatar{
    background: #eb222b;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 15px;
  }
  .add-info{
    border-bottom: 1px solid #cccccc73;
    color: #eb222b;
    align-items: baseline;
    padding: 10px 20px;
    cursor: pointer;
    border-left: 8px solid #fff;
  }
  .request-badge{
    margin-left: 20px;
    background: #eb222b;
    color: white;
    padding: 0px 7px;
    width: 24px;
    height: 24px;
    border-radius: 15px;
  }

  .active,.add-info:hover{
    border-left: 8px solid #eb222b;
    background: #FCEFEF;
  }

  
  #user-chats {
    overflow-y: scroll;
    height: 90%;
  }

  #new-chat-btn {
    position: absolute;
    background: $accent-color;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    bottom: 20px;
    right: 35px;
    color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 999999999999999999;
      font-size: 26px;
      display: block;
      width: 19px;
      height: 52px;
    }

    &:hover {
      background: $accent-color*0.5;
    }
  }


}
